

.body {
margin: 0 ;
font-family: sans-serif;
font-weight: 300;
background: black;
}

.logo {
    float: left;
}
.Nav {
    float: right;
}

.navbar{
    display: flex;
    border: 5px solid black;
    align-items: center;
}
.navbar .logo img{
    width: 144px;
    height: auto;

}

.navbar .nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}
.navbar .nav-menu span {
   margin-right: 5px;
   flex: 1 1 auto;
}

.navbar .nav-menu span a{
    text-decoration: none;
    color: black;
    font-weight: 700;
 }

 .navbar .nav-menu span a:hover{
    text-decoration: none;
    color:purple;
 }

 #tech-team ~img{
    width: 100%;
    max-height: 750px;
 }

.staff-image {
    width: 450px;
    height: auto;
}

@media screen and (max-width: 360px){
    .navbar .logo img{
        display: none;
    
    }
    .navbar .nav-menu {
        display: block;
    
        
    }
    .navbar .nav-menu span {
       margin-right: 0;
    }
}